<div class="flex flex-col flex-auto items-end">
    <a class="absolute z-20 w-8 h-8 min-h-8" (click)="onNoClick()" color="warn" mat-icon-button>
        <mat-icon class="icon-size-2" mat-list-icon>close</mat-icon>
    </a>
    <div class="grid grid-cols-4 gap-4 w-full min-w-0 ng-star-inserted mt-4">
        <div class="flex flex-col items-center p-4" *ngFor="let user of users">
            <a class="absolute z-20 ml-26 w-8 h-8 min-h-8" (click)="addPerson(user.id)" color="primary" mat-icon-button>
                <mat-icon class="icon-size-5" mat-list-icon>add</mat-icon>
            </a>
            <div class="relative w-24 h-24" (click)="addPerson(user.id)">
                <img
                    class="w-full h-full rounded-full"
                    [src]="user.urlImage"
                    alt="User avatar">
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-2">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium mt-2">
                    {{ user.firstName }} {{ user.lastName }}
                </div>
            </div>
        </div>
    </div>
</div>

<h1 *ngIf="users.length == 0">Nessuna utenza disponible!</h1>